<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.warrior.avl"
        versionCode="1"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>AVL Mobile</name>

    <description>
        Aplicación de rastreo para tu teléfono móvil.
    </description>

    <author href="http://www.warrior.com.py" email="rastreo@warrior.com.py">
        Alberto Giménez
    </author>

    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <access origin="http://www.warrior.com.py/" />

</widget>